<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
<!--配置favicon.ico不进行安全拦截-->
    <http pattern="/favicon.ico" security="none"/>
    <!--以下页面不被安全拦截-->
    <!--security="none"  设置此资源不被拦截. -->
    <http pattern="/css/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/plugins/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/*.html" security="none"></http>
    <http pattern="/seller/add.do" security="none"></http>

    <!--页面拦截规则  use-expression 使不使用表达式-->
    <http use-expressions="false">
        <!--拦截所有，放行-->
        <!--ROLE_USER：必须验证具备该角色后才能访问,注意角色名称必须以ROLE_开头-->
        <intercept-url pattern="/**" access="ROLE_SELLER"/>

        <!--login-page：指定登录页面。
            authentication-failure-url：指定了身份验证失败时跳转到的页面。
            default-target-url：指定了成功进行身份验证和授权后默认呈现给用户的页面。
            csrf disabled="true"  关闭csrf ,如果不加会出现错误-->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html" always-use-default-target="true"
        authentication-failure-url="/shoplogin.html"/>
        <csrf disabled="true"/>

        <!--如果你在系统中使用了框架页，需要设置框架页的策略为SAMEORIGIN-->
        <!--SAMEORIGIN：frame页面的地址只能为同源域名下的页面-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <logout/>
    </http>

    <!-- 引用dubbo 服务 -->
    <dubbo:application name="youlexuan-shop-web" />
    <dubbo:registry address="zookeeper://192.168.31.204:2181"/>
    <dubbo:reference id="sellerService" interface="com.offcn.sellergoods.service.SellerService"/>

    <!-- 定义自定义认证类 -->
    <beans:bean id="userDetailService" class="com.offcn.shop.service.UserDetailsServiceImpl">
        <beans:property name="sellerService" ref="sellerService"/>
    </beans:bean>
    <!--解密-->
    <beans:bean id="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService">
            <password-encoder ref="bcryptEncoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>









</beans:beans>